@model IEnumerable<Online_Survey.Models.Question>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/assets/js/jquery.min.js"></script>
<link href="~/Content/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" />

<div class="card">
    <div class="row mt-4">
        <div class="col-12 col-lg-6 col-xl-6">
            <div class="card bg-dark">
                <div class="card-body">
                    <a href="/Question/Create">
                        <div class="media">
                            <div class="media-body text-left">
                                <h4 class="text-white">Anket Sorusu Ekleyin</h4>
                                <span class="text-white">Anket Sorusu Eklemek İçin Tıklayın</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
            <div class="card bg-pinterest">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h4 class="text-white">@Model.Count()</h4>
                            <span class="text-white">Toplam Anket Soru Sayısı</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="table-reponsive">
            <table id="example" class="table table-bordered" cellpadding="0" style="width:100%;">
                <thead>
                    <tr class="bg-dark" style="color:white;">
                        <td>Soru</td>
                        <td>Eklenme Tarihi</td>
                        <td>Ekleyen Kişi</td>
                        <td>İşlemler</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.QuestionLine</td>
                            <td>@item.CreateDate</td>
                            <td>@item.CreateBy</td>
                            <td>
                                <a class="btn btn-dark" href="/Question/Edit/@item.Id"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger" onclick="Delete(@item.Id)">
                                    <i class="fa fa fa-trash-o text-white"></i>
                                    <script>
                                        function Delete(id) {
                                            var link = "/Question/Delete/" + id;
                                            jQuery("#modalLink").attr("href", link);
                                            jQuery("#deleteQuestion").modal()
                                        }
                                    </script>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/Content/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>

<script type="text/javascript">
    var jQueryCalis = $.noConflict(true);
    (function ($) {
        $(document).ready(function () {
            $('#example').DataTable({
                "lengthMenu": [[50, 50, -1], [50, 50, "Tümü"]],
                "ordering": true,
                "caseInsensitive": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                }
            });
            var table = $('#example').DataTable();
            $('#example').show();
        });
    })(jQueryCalis);
</script>

<div class="modal fade" id="deleteQuestion">
    <div class="modal-dialog">
        <div class="modal-content border-danger">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Kayıt Silme</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Kaydı silmek istediğinize emin misiniz?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                <a class="btn btn-danger" id="modalLink"><i class="fa fa-check-square-o"></i> Sil</a>
            </div>
        </div>
    </div>
</div>